<%- include('header') -%>



  <div class="container maincontent">

    <div class="container mt-5">
      <div class="jumbotron text-center">
        <h1 class="display-4 pt-5">Thank You!</h1>
        <p class="lead">Your order has been confirmed.</p>
        <div class="mt-5">
          <img class="rounded-circle imagetick" src="img/tick.png" alt="">
        </div>
      </div>

      <a href="/userpage">
        <div class="btn btn-primary mt-5">Continue Shopping</div>
      </a>

    </div>

    <style>
      .imagetick {
        height: 120px;
      }

      .maincontent {
        text-align: center;
      }
    </style>


    <%- include('footer') -%>